# Logs
*.log*
*.tgz
*.pid
*.seed
*.pid.lock
*.tsbuildinfo
**/*.backup.*
**/*.back.*
*.sublime*
.DS_Store

# Node.js and npm specific
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
.env*
.lock-wscript
.report.[0-9]*.json
*.lcov

# Dependency directories
jspm_packages/

# Coverage directories
coverage/
.nyc_output

# Build directories
build/
dist/
out/
Release/
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.fusebox/
.webpack/
.svelte-kit/
.next/
.nuxt/
.vuepress/dist
.temp
.docusaurus
.cache/
.parcel-cache

# Serverless directories
.serverless/

# Misc
.DS_*
lib-cov
.grunt
bower_components
.pnp.*
.dynamodb/
.tern-port
.vscode-test
.yarn/
.snowpack/
node_repl_history

# IDEs and editors
.idea/
*.swp
*.swo
*~